.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.flex-row {
    display: flex;
    justify-content: space-between;
}
.flex-col {
    display: flex;
    flex-direction: column;
}